# UT3 - ALGORITMOS LINEALES

## TA4 - Dataset sport-training.csv

Discriminante Lineal utilizando Python y scikit-learn

In [21]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [22]:
input_file = "sports_Training.csv"
d_training = pd.read_csv(input_file, header=0)
d_training

,Edad,Fuerza,Velocidad,Lesiones,Vision,Resistencia,Agilidad,CapacidadDecision,DeportePrimario
0,15.1,3,2,1,2,3,29,4,Futbol
1,15.4,3,2,0,3,5,18,8,Rugby
2,13.6,5,5,0,2,5,27,28,Voleibol
3,18.8,5,1,1,1,3,48,36,Voleibol
4,16.1,3,1,0,3,3,38,29,Futbol
...,...,...,...,...,...,...,...,...,...
488,17.0,5,1,0,2,3,42,48,Basketball
489,16.7,4,1,1,2,5,34,48,Basketball
490,17.0,5,1,0,0,1,54,40,Futbol
491,17.3,5,1,0,2,5,65,29,Basketball
492,15.5,1,1,1,3,5,22,29,Rugby

In [23]:
input_file = "sports_Scoring.csv"
d_scoring = pd.read_csv(input_file, header=0)
d_scoring

,Edad,Fuerza,Velocidad,Lesiones,Vision,Resistencia,Agilidad,CapacidadDecision
0,18.5,5,1,1,0,5,33,61
1,13.3,1,2,1,3,5,18,59
2,13.4,2,1,0,2,5,40,11
3,13.6,4,1,0,0,5,28,0
4,16.3,3,1,0,2,5,32,35
...,...,...,...,...,...,...,...,...
1836,17.2,5,3,1,1,5,36,19
1837,17.9,5,1,0,2,0,33,4
1838,14.5,5,4,0,0,3,49,15
1839,18.7,3,4,0,0,5,20,54
1840,13.8,5,6,1,1,6,52,15

In [24]:
data = d_training[(d_training['CapacidadDecision'] >= 3) & (d_training['CapacidadDecision'] <= 100)]
data

,Edad,Fuerza,Velocidad,Lesiones,Vision,Resistencia,Agilidad,CapacidadDecision,DeportePrimario
0,15.1,3,2,1,2,3,29,4,Futbol
1,15.4,3,2,0,3,5,18,8,Rugby
2,13.6,5,5,0,2,5,27,28,Voleibol
3,18.8,5,1,1,1,3,48,36,Voleibol
4,16.1,3,1,0,3,3,38,29,Futbol
...,...,...,...,...,...,...,...,...,...
488,17.0,5,1,0,2,3,42,48,Basketball
489,16.7,4,1,1,2,5,34,48,Basketball
490,17.0,5,1,0,0,1,54,40,Futbol
491,17.3,5,1,0,2,5,65,29,Basketball
492,15.5,1,1,1,3,5,22,29,Rugby

In [25]:
data_scor_filtred = d_scoring[(d_scoring['CapacidadDecision'] >= 3) & (d_scoring['CapacidadDecision'] <= 100)]
data_scor_filtred

,Edad,Fuerza,Velocidad,Lesiones,Vision,Resistencia,Agilidad,CapacidadDecision
0,18.5,5,1,1,0,5,33,61
1,13.3,1,2,1,3,5,18,59
2,13.4,2,1,0,2,5,40,11
4,16.3,3,1,0,2,5,32,35
5,15.7,1,1,0,2,3,43,37
...,...,...,...,...,...,...,...,...
1836,17.2,5,3,1,1,5,36,19
1837,17.9,5,1,0,2,0,33,4
1838,14.5,5,4,0,0,3,49,15
1839,18.7,3,4,0,0,5,20,54
1840,13.8,5,6,1,1,6,52,15

In [26]:
# colors = ("orange", "blue")
# plt.scatter(data['Fuerza'], data['Velocidad'], s=300, c=data['DeportePrimario'], 
# cmap=matplotlib.colors.ListedColormap(colors))
# plt.show()

In [27]:
X = data.loc[:, data.columns != 'DeportePrimario']
X

,Edad,Fuerza,Velocidad,Lesiones,Vision,Resistencia,Agilidad,CapacidadDecision
0,15.1,3,2,1,2,3,29,4
1,15.4,3,2,0,3,5,18,8
2,13.6,5,5,0,2,5,27,28
3,18.8,5,1,1,1,3,48,36
4,16.1,3,1,0,3,3,38,29
...,...,...,...,...,...,...,...,...
488,17.0,5,1,0,2,3,42,48
489,16.7,4,1,1,2,5,34,48
490,17.0,5,1,0,0,1,54,40
491,17.3,5,1,0,2,5,65,29
492,15.5,1,1,1,3,5,22,29

In [28]:
y = data['DeportePrimario'].values
y

array(['Futbol', 'Rugby', 'Voleibol', 'Voleibol', 'Futbol', 'Futbol',
       'Futbol', 'Basketball', 'Rugby', 'Voleibol', 'Futbol',
       'Basketball', 'Basketball', 'Futbol', 'Rugby', 'Basketball',
       'Futbol', 'Voleibol', 'Voleibol', 'Basketball', 'Voleibol',
       'Basketball', 'Futbol', 'Voleibol', 'Futbol', 'Rugby',
       'Basketball', 'Basketball', 'Voleibol', 'Voleibol', 'Basketball',
       'Basketball', 'Voleibol', 'Voleibol', 'Rugby', 'Basketball',
       'Basketball', 'Basketball', 'Voleibol', 'Voleibol', 'Basketball',
       'Futbol', 'Rugby', 'Basketball', 'Futbol', 'Basketball',
       'Basketball', 'Basketball', 'Rugby', 'Basketball', 'Futbol',
       'Voleibol', 'Basketball', 'Rugby', 'Voleibol', 'Futbol', 'Rugby',
       'Futbol', 'Futbol', 'Basketball', 'Voleibol', 'Voleibol', 'Rugby',
       'Futbol', 'Voleibol', 'Futbol', 'Futbol', 'Futbol', 'Basketball',
       'Futbol', 'Futbol', 'Voleibol', 'Basketball', 'Futbol', 'Futbol',
       'Futbol', 'Futbol', 'Futbol', 'Futbol', 'Rugby', 'Basketball',
       'Futbol', 'Basketball', 'Voleibol', 'Futbol', 'Futbol', 'Rugby',
       'Futbol', 'Rugby', 'Rugby', 'Rugby', 'Rugby', 'Rugby', 'Voleibol',
       'Futbol', 'Futbol', 'Voleibol', 'Rugby', 'Voleibol', 'Rugby',
       'Basketball', 'Futbol', 'Voleibol', 'Rugby', 'Futbol', 'Futbol',
       'Voleibol', 'Basketball', 'Futbol', 'Voleibol', 'Rugby',
       'Voleibol', 'Rugby', 'Voleibol', 'Voleibol', 'Voleibol',
       'Basketball', 'Rugby', 'Rugby', 'Rugby', 'Rugby', 'Basketball',
       'Basketball', 'Futbol', 'Basketball', 'Voleibol', 'Rugby',
       'Futbol', 'Futbol', 'Voleibol', 'Futbol', 'Basketball', 'Rugby',
       'Futbol', 'Voleibol', 'Rugby', 'Futbol', 'Rugby', 'Rugby',
       'Basketball', 'Rugby', 'Basketball', 'Basketball', 'Futbol',
       'Voleibol', 'Voleibol', 'Voleibol', 'Rugby', 'Basketball', 'Rugby',
       'Voleibol', 'Futbol', 'Basketball', 'Rugby', 'Basketball',
       'Voleibol', 'Voleibol', 'Rugby', 'Futbol', 'Basketball',
       'Basketball', 'Voleibol', 'Futbol', 'Futbol', 'Futbol', 'Futbol',
       'Futbol', 'Futbol', 'Basketball', 'Voleibol', 'Futbol', 'Voleibol',
       'Voleibol', 'Rugby', 'Basketball', 'Rugby', 'Futbol', 'Futbol',
       'Voleibol', 'Rugby', 'Basketball', 'Futbol', 'Futbol',
       'Basketball', 'Basketball', 'Basketball', 'Futbol', 'Voleibol',
       'Rugby', 'Rugby', 'Futbol', 'Futbol', 'Rugby', 'Futbol',
       'Basketball', 'Rugby', 'Futbol', 'Futbol', 'Voleibol', 'Voleibol',
       'Basketball', 'Basketball', 'Basketball', 'Basketball', 'Futbol',
       'Futbol', 'Basketball', 'Futbol', 'Voleibol', 'Futbol', 'Futbol',
       'Voleibol', 'Voleibol', 'Voleibol', 'Rugby', 'Futbol',
       'Basketball', 'Voleibol', 'Voleibol', 'Rugby', 'Basketball',
       'Voleibol', 'Voleibol', 'Rugby', 'Futbol', 'Futbol', 'Rugby',
       'Voleibol', 'Futbol', 'Rugby', 'Futbol', 'Futbol', 'Voleibol',
       'Futbol', 'Futbol', 'Basketball', 'Futbol', 'Futbol', 'Futbol',
       'Futbol', 'Basketball', 'Rugby', 'Voleibol', 'Basketball',
       'Voleibol', 'Rugby', 'Rugby', 'Futbol', 'Futbol', 'Rugby',
       'Voleibol', 'Futbol', 'Futbol', 'Futbol', 'Basketball', 'Rugby',
       'Rugby', 'Voleibol', 'Futbol', 'Basketball', 'Basketball',
       'Futbol', 'Basketball', 'Rugby', 'Basketball', 'Rugby', 'Voleibol',
       'Rugby', 'Futbol', 'Rugby', 'Futbol', 'Rugby', 'Voleibol',
       'Futbol', 'Basketball', 'Rugby', 'Futbol', 'Rugby', 'Basketball',
       'Rugby', 'Rugby', 'Rugby', 'Voleibol', 'Voleibol', 'Futbol',
       'Futbol', 'Basketball', 'Futbol', 'Rugby', 'Voleibol',
       'Basketball', 'Rugby', 'Rugby', 'Rugby', 'Futbol', 'Futbol',
       'Futbol', 'Voleibol', 'Basketball', 'Basketball', 'Voleibol',
       'Rugby', 'Basketball', 'Voleibol', 'Basketball', 'Futbol', 'Rugby',
       'Voleibol', 'Basketball', 'Voleibol', 'Basketball', 'Rugby',
       'Voleibol', 'Voleibol', 'Voleibol', 'Basketball', 'Futbol',
       'Futbol', 'Futbol', 'Voleibol', 'Futbol', 'Futbol', 'Basketball',
       'Basketball', 'Futbol', 'Voleibol', 'Basketball', 'Voleibol',
       'Basketball', 'Rugby', 'Futbol', 'Futbol', 'Basketball', 'Futbol',
       'Futbol', 'Futbol', 'Rugby', 'Futbol', 'Rugby', 'Futbol', 'Rugby',
       'Basketball', 'Futbol', 'Voleibol', 'Futbol', 'Voleibol', 'Rugby',
       'Futbol', 'Futbol', 'Voleibol', 'Rugby', 'Basketball', 'Voleibol',
       'Rugby', 'Futbol', 'Futbol', 'Voleibol', 'Rugby', 'Futbol',
       'Voleibol', 'Futbol', 'Rugby', 'Futbol', 'Basketball', 'Futbol',
       'Voleibol', 'Rugby', 'Rugby', 'Rugby', 'Basketball', 'Futbol',
       'Futbol', 'Voleibol', 'Voleibol', 'Futbol', 'Voleibol',
       'Basketball', 'Voleibol', 'Voleibol', 'Voleibol', 'Futbol',
       'Voleibol', 'Futbol', 'Rugby', 'Futbol', 'Futbol', 'Voleibol',
       'Rugby', 'Basketball', 'Rugby', 'Rugby', 'Rugby', 'Basketball',
       'Basketball', 'Rugby', 'Futbol', 'Futbol', 'Basketball',
       'Basketball', 'Rugby', 'Voleibol', 'Futbol', 'Futbol', 'Voleibol',
       'Basketball', 'Rugby', 'Futbol', 'Voleibol', 'Rugby', 'Rugby',
       'Voleibol', 'Basketball', 'Basketball', 'Rugby', 'Rugby', 'Rugby',
       'Rugby', 'Rugby', 'Voleibol', 'Voleibol', 'Voleibol', 'Voleibol',
       'Rugby', 'Voleibol', 'Rugby', 'Basketball', 'Futbol', 'Futbol',
       'Futbol', 'Futbol', 'Voleibol', 'Voleibol', 'Rugby', 'Futbol',
       'Rugby', 'Futbol', 'Rugby', 'Voleibol', 'Rugby', 'Futbol', 'Rugby',
       'Rugby', 'Futbol', 'Rugby', 'Futbol', 'Basketball', 'Futbol',
       'Futbol', 'Basketball', 'Futbol', 'Rugby', 'Rugby', 'Voleibol',
       'Voleibol', 'Futbol', 'Rugby', 'Basketball', 'Futbol', 'Rugby',
       'Voleibol', 'Futbol', 'Futbol', 'Rugby', 'Voleibol', 'Voleibol',
       'Rugby', 'Rugby', 'Voleibol', 'Futbol', 'Futbol', 'Futbol',
       'Futbol', 'Futbol', 'Futbol', 'Basketball', 'Rugby', 'Voleibol',
       'Basketball', 'Basketball', 'Futbol', 'Basketball', 'Rugby'],
      dtype=object)

### Parte 2: Entrenamiento

In [29]:
lda = LinearDiscriminantAnalysis()
lda.fit(X,y)

LinearDiscriminantAnalysis()

### Parte 3: Evaluación

In [30]:
y_pred = lda.predict(data_scor_filtred)
print("Predicted")
pred = pd.DataFrame(y_pred)
pred.columns = ["DeportePrimario"]
pred

Predicted

     DeportePrimario
0         Basketball
1              Rugby
2             Futbol
3              Rugby
4             Futbol
...              ...
1762          Futbol
1763          Futbol
1764          Futbol
1765      Basketball
1766          Futbol

[1767 rows x 1 columns]